@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

button {
  font: inherit;
  cursor: pointer;
  background: #ff2058;
  border: 1px solid #ff2058;
  border-color: #ff2058;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  margin: 0.5rem 0;
  color: white;
}

button:hover,
button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
}

button:focus {
  outline: none;
}
